#platform=x86, AMD64, or Intel EM64T
#version=DEVEL
# Firewall configuration
firewall --disabled
# Install OS instead of upgrade
install
# Use HTTP installation media
url --url=http://{{ip_address_for_cobbler }}/cblr/links/CentOS7-x86_64
repo --name="CentOS" --baseurl=http://{{ip_address_for_cobbler }}/cblr/links/CentOS7-x86_64/ --cost=100
network --bootproto=dhcp --device=eth1 --onboot=on# Reboot after installation
reboot# System authorization information
auth useshadow passalgo=sha512
graphicalfirstboot disabled
keyboard us
lang en_US
selinux disabled
logging level=info
timezone America/New_York 
autopart
bootloader location=mbrclearpart --all --initlabel
@^minimal@core
%end
%addon com_redhat_kdump --disable --reserve-mb='auto'
%end
